.topbar {    
    color: black;
    font-size:1vw;
    height: 50px;
    width: 100%;     
    line-height: 50px;
    text-align: center;    
    vertical-align: middle;
    font-family: 'Arial';    
}

.imageContainer{
    width: 100%;
    height: fit-content;
}

.body {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
}

#feedbackText{
    text-align: center;
    font-size: large;
}

.guide{
    height:20%;
    width:20%;    
}


.image {
    /* overflow:hidden; */
    display: inline-block;
    height: fit-content;
    width: 45%;
    margin-left: 10px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: fit-content;       
}

.counter{
    font-weight: bold;
    font-size:2vw;
}

.ethics {
    height: fit-content;
    width: fit-content;  
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ethics_img {

    width: 100%;
    height: 100%;
    padding:1px;
    border:3px solid #000000;   
}

.button {
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;    
    font-size: 25px;
}

#image{
    width: 100%;
    height: 50%;
    max-height: 400px;
    max-width: 800px;
    padding:1px;
    border:2px solid #000000;      
}

#answer {
    height: 25px;
    width: 100%;
    margin:0 auto;
    padding: 0.5%;
    align-items: center;
    vertical-align: middle;
    border-radius: 25px;
    line-height: 25px;
    text-align: center;
    font-size:2vw;
    /* font-size: 25px; */
    color: black;  
}

.radio-label {
    display: inline-block;
     vertical-align: top;
     margin-right: 3%;
     font-size: 25px;
 }


#index {    
    font-size: 15px;
    height: 50px;
    width: auto;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;   
    vertical-align: middle;
    font-family: 'Arial';
}

.button{
    margin-top: 5px;
}

.submit {
    height: 65%;
    width: 15%;
}